<%- include('header.ejs')%>

<div class="about-section">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            Educator is one of the World’s largest and cost-effective Online Learning platform. It is one place where you can get access to a plethora of courses. The best part is that courses from various domains are available and also they are available in various languages. In addition to that, the best part is that you can contact trainers if you have any doubts and we are happy to help you with the queries raised.
        </p>
        <div class="skills">
            <i class="fa fa-mobile icon" aria-hidden="true"></i>
            <span class="contact">+91 7004145409</span>
            <i class="fa fa-envelope icon" aria-hidden="true"></i>
            <a class="mail" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=asmitmurari@gmail.com">asmitmurari@gmail.com</a>
            <i class="fa fa-map-marker icon" aria-hidden="true"></i>
            <span class="contact">California, US</span>
        </div>
    </div>
</div>

<%- include('footer.ejs')%>