<%- include('header.ejs')%>

<div>
	<%- include('flash.ejs')%>
	<div class="d-flex justify-content-center align-items-center container">
		<div class="cards py-5 px-3 border shadow p-3">
			<h5 class="m-0">OTP verification</h5><br/><br/><span class="mobile-text"><b class="text-danger">Enter the OTP sent to registerd email </b> </span>
			<form method="post" action="#" autocomplete="off">
				<div class="d-flex flex-row mt-5"><input type ="text" name="otp" class="form-control" maxlength="4" placeholder="OTP" autocomplete="off" required /></div>
			<div class="text-center mt-5">
				<button type="submit" name="submit" value="verify OTP" class="btn btn-info form-control text-center">Submit</button>
			</div>
			</form>
		</div>
	</div>
  </div>

<%- include('footer.ejs')%>